.main-content{
    background-image: url(img/loginBg.svg);
    background-position: -10rem 0;
    background-repeat: no-repeat;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.message-section{
    color: var(--text-color);
    text-align: center;
}
.message-section h1{
    font-size: 5rem;
    margin-bottom: 5rem;
    letter-spacing: .5rem;
    text-transform: uppercase;
}
.message-section p{
    font-size: 2.5rem;
}
form{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    width: 70rem;
    height: 30rem;
}
form h1{
    font-size: 5rem;
    letter-spacing: 1rem;
    color: var(--text-color);
    margin-bottom: 3rem;
    text-transform: uppercase;
}
input[type=email], input[type=password], input[type=text]{
    width: 30rem;
    height: 2rem;
    font-size: 1.5rem;
    padding: 1rem 1rem 1rem 4rem;
    border-radius: 1rem;
    border: none;
    background-repeat: no-repeat;
    background-position: 3% 50%;
    background-size: 2rem;
}
input[type=email]{
    background-image: url(img/envelope-solid.svg);   
}
input[type=password]{
    background-image: url(img/key-solid.svg);
}
input[type=text]{
    background-image: url(img/user-solid.svg);
}
input[type=submit]{
    width: 35rem;
    padding: 1rem 0;
    font-size: 2rem;
    font-weight: 600;
    background-color: var(--accent-color);
    color: var(--text-color);
    border: none;
    cursor: pointer;
    border-radius: 1rem;
}
input:focus{
    outline: medium solid var(--accent-color);
}
.linktext, .linktext a{
    font-size: 1.5rem;
    color: var(--text-color);
}