@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
:root{
    --text-color: #E5F1E7; 
    --background-color: #050905; 
    --primary-color: #A8D0AC; 
    --secondary-color: #3E7368; 
    --accent-color: #39B54A;
}
body{
    background-color: var(--background-color);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: thin solid white;
    background-color: var(--background-color);
    z-index: 99;
}
.nav-contents{
    margin: 0 5rem 0 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 20rem;
}
main{
    padding: 8rem 5rem 0 5rem;
    overflow-x: hidden;
}
.main-content{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 8rem);
}
.slogan{
    font-family: "Russo One", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: var(--text-color);
    font-size: 6rem;
}
.main-btn{
    margin-top: 3rem;
    border: none;
    border-radius: .5rem;
    background-color: var(--accent-color);
}
.main-btn a{
    padding: 2rem;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text-color);
}
.fa-chevron-right{
    font-size: 1.5rem;
}
.graphics-section{
    display: grid;
    place-items: center;
}
.blob{
    width: 30rem;
    height: 30rem;
    background-color: var(--primary-color);
    border-radius: 51% 49% 70% 30% / 36% 21% 79% 64%;
    animation: rotateloop 60s linear infinite;
    grid-row: 1 / -1;
    grid-column: 1 / -1;
}
.fa-video{
    font-size: 10rem;
    color: var(--secondary-color);
    grid-row: 1 / -1;
    grid-column: 1 / -1;
    z-index: 2;
}
@keyframes rotateloop {
    0% {
        transform: rotate(0);
    }
    100%{
        transform: rotate(360deg);
    }
}