@import url('https://fonts.googleapis.com/css2?family=Russo+One&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
:root{
    --text-color: #E5F1E7; 
    --background-color: #050F0F; 
    --primary-color: #A8D0AC; 
    --secondary-color: #3E7368; 
    --accent-color: #39B54A;
}
body{
    background-color: var(--background-color);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: thin solid white;
    background-color: var(--background-color);
    z-index: 99;
}
.nav-contents{
    margin: 0 5rem 0 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 20rem;
}
main{
    padding: 8rem 5rem 0 5rem;
    overflow-x: hidden;
}
.main-content{
    display: flex;
    gap: 2rem;
    align-items: center;
    justify-content: space-between;
    height: calc(100vh - 8rem);
}