*{
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}
:root{
    --text-color: #E5F1E7; 
    --background-color: #050905; 
    --primary-color: #A8D0AC; 
    --secondary-color: #3E7368; 
    --accent-color: #39B54A;
}
body{
    background-color: var(--background-color);
}
nav{
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: thin solid white;
}
.nav-contents{
    margin: 0 5rem 0 5rem;
    height: 8rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.logo{
    width: 20rem;
}
main{
    margin: 8rem 5rem 0 5rem;
    height: 500rem;
}